* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  margin: 0;
  padding: 0;
}

.player-bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  border-top: solid #c3c3c3 1px;
  background-color: #121212;
}

.menu-item {
  margin-left: 10px;
  font-size: 16px;
  color: #c3c3c3;
}

.menu-item:hover {
  color: white;
}

a {
  text-decoration: none;
  color: #c3c3c3;
}

.myButton {
  color: white !important;
  border: 2px solid #c3c3c3 !important;
  border-radius: 50px !important;
  cursor: pointer;

  &.black {
    background-color: #121212;
  }

  &.red {
    background-color: #fb3741;
  }

  &:hover {
    border: 2px solid white !important;
  }

  &.black:hover {
    background-color: white;
    color: #121212 !important;
    border: 2px solid #121212 !important;
  }

  &.red:hover {
    border: 2px solid white !important;
    background-color: #fb3741;
  }
}

.error-message {
  color: #fb3741;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.icon {
  cursor: pointer;
}

.thisIs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121212;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15%;
  color: #C3C3C3;
  padding: 15px;

  &.card:hover {
    cursor: pointer;
    color: white;
    opacity: 0.6;
    transition: 1s;
  }

  &:not(:hover) {
    color: #C3C3C3;
    transition: 1.5s;
  }
}

.scroll-button {
  color: #fb3741;
  background: transparent;
  border: none;
  font-size: 45px;
  cursor: pointer;
  padding: 0 10px;
}

.scrollable-paper {
  height: 70vh;
  width: 80vw;
  overflow-y: auto;
  background-color: #121212;
}