* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  margin: 0;
  padding: 0;
}

.player-bottom {
  z-index: 100;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  border-top: solid #c3c3c3 1px;
  background-color: #121212;
}

.menu-item {
  margin-left: 10px;
  font-size: 16px;
  color: #c3c3c3;
}

.menu-item:hover {
  color: white;
}

a {
  text-decoration: none;
  color: #c3c3c3;
}

.myButton {
  color: white !important;
  border: 2px solid #c3c3c3 !important;
  border-radius: 50px !important;
  cursor: pointer;
  margin: 5px !important;

  &.black {
    background-color: #121212;
  }

  &.red {
    background-color: #fb3741;
  }

  &:hover {
    border: 2px solid white !important;
  }

  &.black:hover {
    background-color: white;
    color: #121212 !important;
    border: 2px solid #121212 !important;
  }

  &.red:hover {
    border: 2px solid white !important;
    background-color: #fb3741;
  }
}

.error-message {
  color: #fb3741;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.icon {
  cursor: pointer;
}

.thisIs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121212;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15%;
  color: #c3c3c3;
  padding: 15px;

  &.card:hover {
    cursor: pointer;
    color: white;
    opacity: 0.6;
    transition: 1s;
  }

  &:not(:hover) {
    color: #c3c3c3;
    transition: 1.5s;
  }
}

.scroll-button {
  color: #fb3741;
  background: transparent;
  border: none;
  font-size: 45px;
  cursor: pointer;
  padding: 0 10px;
}

.scrollable-paper {
  height: 70vh;
  width: 80vw;
  overflow-y: auto;
  background-color: #121212;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fb3741;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.sidebar-style {
  position: sticky;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}

.no-click {
  pointer-events: none;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #121212;
  height: 50px;
}

.tableCustomHead {
  border-bottom: #c3c3c3 solid 1px;
}

.tableCustom {
  padding-top: 10px;
}

.urlTd {
  display: flex;
  justify-content: flex-end;
}

.search {
  text-align: center;
}

.arrowBack {
  color: #fb3741;
  cursor: pointer;
}

.table-profile {
  width: 30%;
  margin-bottom: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .sidebar-style {
    position: sticky;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
  }

  .sidebar-style-mobile {
    position: sticky;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
  }

  .no-click {
    pointer-events: all;
  }

  .thisIs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #121212;
  }

  .scrollable-paper {
    height: 80vh;
    width: 80vw;
    overflow-y: auto;
    background-color: #121212;
  }

  .scrollable-paper {
    height: 90vh;
    width: 80vw;
    overflow-y: auto;
    background-color: #121212;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 65%;
    color: #c3c3c3;
    padding: 15px;

    &.card:hover {
      cursor: pointer;
      color: white;
      opacity: 0.6;
      transition: 1s;
    }

    &:not(:hover) {
      color: #c3c3c3;
      transition: 1.5s;
    }
  }
}

@media screen and (max-width: 900px) {
  .sidebar-style {
    position: sticky;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
  }

  .sidebar-style-mobile {
    position: sticky;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
  }

  .no-click {
    pointer-events: all;
  }

  .mobile {
    display: none;
  }
  .title-resolution {
    display: none;
  }

  .scrollable-paper {
    width: 80vw;
    overflow-y: auto;
    background-color: #121212;
  }

  .mobile-title {
    text-align: center;
  }

  .table-profile {
    width: 100%;
    margin-bottom: 30px;
  }
}
